.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  color: white;
  height:130px
}

.div-header {
  background-color: #6b717e;
  display: flex;
  flex-direction: row;
  color: white;
  height:70px;
}

.App-link {
  color: #61dafb;
}
.footer{
  background-color: #282c34;
  color: white;
  height:130px;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
